body{
  background-color:#668cff;
  text-align: center;   
  font-size: 22px;
  font-family: cursive
}

.jumbotron{
  margin-top: 80px;
   margin-right: 150px;
    margin-left: 150px;
    background-color:#ff471a;
   padding-top: 100px;
    padding-right: 20px;
    padding-bottom: 130px;
    padding-left: 20px;
}

.button {
    background-color: #4CAF50; 
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
